certifi==2018.11.29
cffi==1.11.5
chardet==3.0.4
Click==7.0
cryptography==2.5
Flask==1.0.2
Flask-Login==0.4.1
idna==2.8
itsdangerous==1.1.0
Jinja2==2.10
MarkupSafe==1.1.0
oauthlib==3.0.1
pycparser==2.19
PyMySQL==0.9.3
requests==2.21.0
requests-oauthlib==1.2.0
six==1.12.0
urllib3==1.26.5
Werkzeug==0.14.1
